/* NAVBAR COMPONENT CSS */

.navbar-nav {
  margin-left: 15%;
}
nav {
  overflow: hidden;
}
.btn-nav {
  border-radius: 30px;
}
.nav-link:hover {
  color: #ffb512;
}

/* BANNER COMPONENT CSS */

.banner-div {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-span {
  color: #ffb512;
}
.banner-sub-text {
  font-size: 20px;
}
.banner-btn {
  background-color: #ffb512;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.banner-heading {
  font-size: 40px;
  font-weight: 600;
  padding-top: 10%;
  margin-bottom: 3%;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WHY US COMPONENT CSS */

.whyus-span {
  color: #ffb512;
}
.whyus-span-2 {
  text-decoration: underline;
  text-decoration-color: #ffb512;
}
.whyus-advantage {
  font-weight: 350;
  color: #ffb512;
}
.whyus-li {
  font-size: 25px;
  font-weight: 400;
}
.form-title {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #ffb512;
}
.form-p {
  font-size: 22px;
  font-weight: 450;
}
.form-p > span {
  text-decoration: underline;
  text-decoration-color: #ffb512;
}
