/* NAVBAR COMPONENT CSS */

.navbar-nav {
  margin-left: 15%;
}
nav {
  overflow: hidden;
}
.btn-nav {
  border-radius: 30px;
}
.nav-link:hover {
  color: #ffb512;
}

/* BANNER COMPONENT CSS */

.banner-div {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-span {
  color: #ffb512;
}
.banner-sub-text {
  font-size: 20px;
}
.banner-btn {
  background-color: #ffb512;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.banner-heading {
  font-size: 40px;
  font-weight: 600;
  padding-top: 10%;
  margin-bottom: 3%;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WHY US COMPONENT CSS */

.whyus-span {
  color: #ffb512;
}
.whyus-span-2 {
  text-decoration: underline;
  text-decoration-color: #ffb512;
}
.whyus-advantage {
  font-weight: 350;
  color: #ffb512;
}
.whyus-li {
  font-size: 25px;
  font-weight: 400;
}
.form-title {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #ffb512;
}
.form-p {
  font-size: 22px;
  font-weight: 450;
}
.form-p > span {
  text-decoration: underline;
  text-decoration-color: #ffb512;
}

/* Add Component CSS */
.add-comp-div {
  background-color: #ffb512;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-comp-h2 {
  color: #002452;
}
.add-comp-h4 {
  font-size: 25px;
  font-weight: 300;
}

/* FOOTER */

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

.footer-brand {
  color: #ffb512;
}

/* BLOGS CSS */

.blogs-span {
  color: #ffb512;
}
.blog-creator-name {
  color: black;
  font-weight: 500;
}
.card-footer {
  border-top: none;
  background-color: #fff;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f1c40f;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background: transparent;
}
